head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width")
    title Рассылка TrackTrack
    style(type="text/css").
        @media (min-width: 600px) {
            .main-table {
                padding-top: 54px !important;
                padding-bottom: 54px !important;
            }
            .wrap {
                width: 600px !important;
                padding-left: 32px !important;
                padding-right: 32px !important;
            }
            .head {
                background-image: url("https://tracktrack-news-module.s3.us-east-2.amazonaws.com/static/img/mail-desktop-logo.png") !important;
                background-size: 295px auto !important;
            }
            .text-wrap {
                width: 394px !important;
            }
        }
    <!--[if gte mso 12]>
    style(type="text/css").
        .main-table {
            padding-top: 54px !important;
        }
        .wrap {
            width: 600px !important;
            padding-top: 32px !important;
            padding-left: 32px !important;
            padding-right: 32px !important;
        }
        .head {
            background-image: url("https://tracktrack-news-module.s3.us-east-2.amazonaws.com/static/img/mail-desktop-logo.png") !important;
            background-size: 295px auto !important;
        }
        .text-wrap {
            width: 394px !important;
        }
    <![endif]-->

    <!--[if gte mso 16]>
    style(type="text/css").
        .main-table {
            padding-top: 54px !important;
        }
        .wrap {
            width: 600px !important;
            padding-top: 32px !important;
            padding-left: 32px !important;
            padding-right: 32px !important;
        }
        .head {
            background-image: url("https://tracktrack-news-module.s3.us-east-2.amazonaws.com/static/img/mail-desktop-logo.png") !important;
            background-size: 295px auto !important;
        }
        .text-wrap {
            width: 394px !important;
        }
    <![endif]-->