- var separatorStyle = "width: 100%; min-width: 290px; max-width: 600px; padding-left: 20px; padding-right: 20px; background-color: #ffffff; border: solid 1px #ededed; border-top: none; border-bottom: none;"
mixin separator()
    // Разделитель (серая горизонтальная полоска) | начало
    tr
        td(height="0" style="border-top: 1px solid #ededed; padding-top: 0; padding-top: 0; padding-bottom: 32px")
    // Разделитель (серая горизонтальная полоска) | конец