<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        a(href="letter.html") Letter
        a(href="test-quotes.html") Test quotes
        a(href="test-without.html") Test without

        h1 COMPONENTS:

        include components/card.pug
        include components/description.pug
        include components/footer.pug
        include components/head.pug
        include components/header.pug
        include components/htmlHead.pug
        include components/padding.pug
        include components/section.pug
        include components/separator.pug
        include components/stage.pug
        include components/stages.pug
        include components/summary.pug
        include components/tags.pug